<!DOCTYPE html>

<html lang="vi">
    <head>
      <meta charset="UTF-8">
    </head>
   <body>

      <h1 style="color:Tomato"> DEMO ẢNH KỶ HIẾU LỚP XYZ </h1>
<!--        <p> Chọn số thứ tự trong danh sách lớp: </p>-->
<!--      <form action = "http://localhost:5000/uploader" method = "POST"-->
      <form action = "http://localhost:5000/" method = "POST"
         enctype = "multipart/form-data">
          <label for="stt">Chọn số thứ tự trong danh sách lớp:</label><br>
          <input type="text" id="stt" name="so_thu_tu"><br>
          <input type = "submit"/>
      </form>
   </body>
</html>